<div class="footer-container">
  <div class="mb">
    <img ngSrc="../../../assets/logo.png" height="27" width="137" alt="logo" priority>
  </div>
  <div class="footer-container-links mb">
    <ul>
      <span>Home</span>
      <span>Terms of Use</span>
      <span>Legal notices</span>
      <span>Help</span>
      <span>Manage Account</span>
    </ul>
  </div>
  <div class="footer-container-stores mb">
    <img ngSrc="../../../assets/app%20store.png" height="38" width="129" alt="app-store">
    <img ngSrc="../../../assets/google-play.png" height="38" width="129" alt="google-play">
  </div>
  <div class="footer-container-copy mb">Copyright 2023 Dreadful Tomato Streaming. All Rights Reserved</div>
</div>
