<mat-form-field>
  <input
    readonly
    class="date-input"
    [min]="minDate"
    [max]="maxForStartDate"
    matInput
    [matDatepicker]="dpStart"
    placeholder="Year"
    [formControl]="start">
  <mat-datepicker-toggle matSuffix [for]="dpStart"></mat-datepicker-toggle>
  <mat-datepicker
    #dpStart
    startView="multi-year"
    (yearSelected)="chosenStartHandler($event, dpStart)"
    panelClass="year-picker">
  </mat-datepicker>
</mat-form-field>
<mat-form-field>
  <input
    readonly
    class="date-input"
    [min]="minForEndDate"
    [max]="maxDate"
    matInput
    [matDatepicker]="dpEnd"
    placeholder="Year"
    [formControl]="end">
  <mat-datepicker-toggle matSuffix [for]="dpEnd"></mat-datepicker-toggle>
  <mat-datepicker
    #dpEnd
    startView="multi-year"
    (yearSelected)="chosenEndHandler($event, dpEnd)"
    panelClass="year-picker">
  </mat-datepicker>
</mat-form-field>
