.home {
  &-container {
    display: flex;
    justify-content: center;
  }

  &-movies, &-series {
    position: relative;
  }

  &-link {
    padding: 20px;
    background: rgba(243, 5, 5, 0.5);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    font-size: 48px;
    cursor: pointer;
    transition: background-color 0.5s ease;

    &:hover {
      background: rgba(243, 5, 5, 0.8);
    }
  }
}
