<div class="home-container">
  <div class="home-movies">
    <img
      ngSrc="../../../assets/movies.png"
      height="849"
      width="722"
      alt="movies"
      priority>
    <span class="home-link" (click)="clickHandler(ProgramType.MOVIES)">
      Movies
    </span>
  </div>
  <div class="home-series">
    <img
      ngSrc="../../../assets/series.png"
      height="849"
      width="719"
      alt="series"
      priority>
    <span class="home-link" (click)="clickHandler(ProgramType.SERIES)">
      Series
    </span>
  </div>
</div>
